
<section>
    <h2>Forget Password</h2>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/user/forgot-password" method="post">
        <input type="email" name="email" placeholder="Email" required><br><br>
        <div class="g-recaptcha" data-sitekey="6LflLRIqAAAAAHrbmeUx3WThRxp7On8iAQQOIQWH"></div><br>
        <button type="submit">Forget Password</button>
    </form>
   
    <p><strong>Don't have an account?</strong> <a href="/user/signup"><strong>Sign up</strong></a></p>
    <p><strong>Already have an account?</strong> <a href="/user/signin"><strong>Sign in</strong></a></p>

</section>

